/* impor (font family) */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#444;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 5;
}
.login{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.login a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    color: #efefef;
    margin-left: 10px;
}
.fa-sharp{
    font-size: 16px;
}
.fa-xmark{
    font-size: 25px;
    position: absolute;
    right: 10px;
}
.login :hover{
    background-color: rgba(159, 155, 155, 0.87);
    transition:0.5s;
}
.form{
    border: 1px solid #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form p{
    text-align: center;
    margin-left: 5px;
}
.shopping{
    padding-right: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
}
.logo a{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    text-decoration: none;
    color: #efefef; 
}
.khamsat{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
._khamsat{
    display: none;
}
.fa-cubes{
    margin-right: 5px;
}
.fa-bars{
    font-size: 23px;
}
.cubes{
    padding: 20px 15px;
    margin-right: 10px;

}
.cubes:hover{
    background-color: #efefef6b;
    transition: 0.5s;
}
.headerlow{
    display: none;
}
@media only screen and (max-width:600px){
    header{
        display: none;
    }
    .headerlow {
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        top: 91%;
        z-index: 5;
        position: fixed;
        bottom: 0px;
        overflow: scroll;
    }
    .headerlow a{
        color: #434343;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width:0;
        position: absolute;
        top: 0px !important;
        min-height: 90vh !important;
        position: sticky;
    }
    aside a{
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
        padding:20px 0px ;
    }

}
aside{
    width: 0;
    min-height: 100vh;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    top: 0;
    padding-top: 60px;
    z-index: 2;
    overflow-x: hidden;
}
aside i{
    margin-left: 5px !important;
}
aside a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 0px ;
    color: #000000;
    text-decoration: none;
}
aside a:hover{
    background-color: #efefef;
    color: rgb(10, 161, 10);
}
.option{
    display: flex;
    flex-direction: row;
}
aside input{
    height: 40px;
    border: none;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
}
aside input::placeholder{
    font-size: 18px;
}
                    /* section one */
.one{
    background-image: url("images project/hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg");
    height: 100vh;
    position: relative;
    background-position: center;
}
.info{
    position: absolute;
    top: 37%;
    left: 24%;
}
h1{
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
.one p{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
}
.search{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 62%;
    left: 28%;
    background-color: white;
    height: 60px;
    width: 700px;
}
.search input{
    width:100%;
    border: none;
}
.search input::placeholder{
    font-size: 20px;
}
.search button{
    background-color: green;
    color: white;
    border: none;
    margin: 5px;
    padding: 15px;
    font-size: 18px;
}
.search button:hover{
    opacity: 0.8;
}
                                            /* media section one */
@media only screen and (max-width:600px){
    .one{
        height: 100vh;
        margin-top: -19%;
    }
    .info{
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
    }
    h1{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";  /*important*/
        padding-bottom: 20px;
    }
    .one p{
        text-align: center;
        padding-top:0px;
        padding-bottom: 10px;
        font-size: 22px;
    }
    .search{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 62%;
        left: 8%;
        background-color: white;
        height: 60px;
        width: 275px;
    }
}

.two{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.two h1{
    margin: 70px 0px 50px 0px;
    font-size: 28px;
}
.business{
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
}
.product{
    display: flex;
    flex-direction: row;
}
.content{
    width: 330px;
    height: 220px;
    margin: 20px 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 10px 10px 0px 120px rgba(0, 0, 0, 0.509); 
}
.content i{
    font-style: normal;
}
.content img{
    width:100%;
    height: 100%;
    z-index: -1;
}
.content h2{
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
                                            /* media section two */
@media only screen and (max-width:600px){
    .two{
        height: 350vh;
    }
    .two h1{
        margin-top: 90px;
    }
    .business{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 40px;
    }
    .product{
        display: flex;
        flex-direction: column;
    }
    .content{
        width: 250px;
        height: 220px;
        margin: 15px 10px 10px 0px ;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .content i{
        display: none !important;
    }
}

.three{
    height: 60vh;
    background-color: #cdcaca61;
    margin: 60px 0px;
}
.three h2{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    font-weight: 100;
}
.Request{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0px;
}
.works{
    height: 200px;
    width: 400px;
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 10px;
    position: relative;
}
.works img{
    height: 100px;
    width: 50px;
    position: absolute;
    right: 30px;
}
.Receive{
    padding: 25px;
}
.Receive h3{
    margin-bottom: 15px;
}
.Receive p{
    line-height: 25px;
}
span{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 15px;
}
                                            /* media section three */
@media only screen and (max-width:600px){
    .three{
        height: 150vh;
    }
    .Request{
        display: flex;
        flex-direction: column;
    }
    .works{
        margin: 0px 0px 50px 30px ;
        width: 85%;
    }
}

.foure{
    height: 60vh;
    position: relative;
}
.View button{
width: 80px;
height: 40px;
margin-left: 50px;
background-color: rgb(255, 255, 255);
color:green;
border: 1px solid green;
font-size: 17px;
}
.View button:hover{
    background-color: green;
    color: white;
    transition: 0.5s;
}
.foure h2{
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    top: 0px;
    right: 50px;

}

.Service1{
    display: flex;
    flex-direction: row;
    padding-left:20px;
    padding-right: 20px;
}
.service2{
    display: flex;
    flex-direction: row;
}
.Services{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 360px;
    margin-left: 10px;
    position: relative;
}
.Services a{
    text-decoration: none;
    color: #000000;
    padding-left: 5px;
    padding-top: 5px;
}
.Services a:hover{
    color: green;
}
.Services p{
    color: #897f7f;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.star{
    display: flex;
    flex-direction: row;
    direction: rtl;
    color: orange;
    margin-right: 5px;
}
.score{
    color: black;
}
.for{
    position: absolute;
    top: 90%;
    margin-top: 12px;
    color:black !important;
}
@media only screen and (max-width:600px){
    .View button{
        width: 75px;
        height: 55px;
        margin-top: 10px;
        margin-left: 15px;
        
    }
    .foure h2{
        font-size: 18px;
        position: absolute;
        left: 100px;
        top: 20px;
    }
    .foure{
        height: 210vh;
        position: relative;
    }
    .Service1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .service2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Services{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        width: 250px;
        margin-left: 10px;
        margin-bottom: 5px;
        position: relative;
    }
    .Services img{
        width: 100%;
    }
    /* .note{
        margin-top: 40px;
    }
    .notee{
        margin-top: 40px;
    } */
}

.five{
    height: 80vh;
    background-color: #dfdfdfa0;
    display: block;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    overflow-y: scroll;
}
.five h1{
    text-align: center;
    padding: 30px 0px;
    font-size: 35px;
}
.five a{
    text-decoration: none;
    color: #000000;
}
details{
    padding: 30px 250px;
    font-weight: 100;
}
summary{
    color: #393939;
    font-size: 21px;
    display: block;
    padding: 0%;
    margin: 0%;
}
summary:hover{
    color: green;
}
details p{
    font-size: 19px;
    margin-left: 35px;
    line-height: 25px;
}
hr{
    width: 65%;
    margin-left: 16%;
    color: #949494;
}
@media only screen and (max-width:600px){
    .five{
        overflow-y: scroll;
    }
    details{
        padding: 15px 20px;
        font-weight: 100;
    }
    summary{
        font-size:19px;
    }
    hr{
        width: 90%;
        margin-left: 5%;
    }
} 
.six{
    height:35vh;
    background-image: url("images project/pattern-faff445a237e662f4efc1f4ef1b3bdb8fe84158095c82e35def103e872714835.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.six h1{
    color:white;
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}
.six button{
    color: white;
    background-color: green;
    height: 60px;
    width: 165px;
    position: absolute;
    top: 45%;
    left: 45%;
    border: none;
    font-size: 18px;
    
}
.six button:hover{
    background-color: rgba(1, 109, 1, 0.765);
    transition: 0.5s;
}
@media only screen and (max-width:600px){
    .six h1{
        font-size: 25px;
        padding-top: 45px;
    }
    .six button{
        height: 60px;
        width: 150px;
        position: absolute;
        top: 42%;
        left: 27%;
    }
}
.seven{
    display: flex;
    flex-direction: row;
}
.seven a{
    text-decoration: none;
    color: green;
    line-height: 50px;
}
.seven a:hover{
    color: black;
}
.seven h2{
    font-size: 20px;
}
.socialmedia a{
    margin-left: 120px;
}
.socialmedia img{
    width: 60px;
    height: 55px;
}
.buy img{
    margin-top: 50px;
    width: 250px;
}
.links{
    padding: 30px 30px 15px 30px;
    display: flex;
    flex-direction: column;
}

.eight{
    height: 8vh;
    background-color:#c8c8c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}
.level{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}
.level p{
    margin-right: 30px;
}

.nine{
    background-image: url("images project/mask-group-2-8b8a720429d8d2124270cd612e54bb3ef9a38e64062f1e0b0e588934df2697ea.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 40vh;
}
.nine img{
    width: 200px;
    position: absolute;
    top: 20px;
    left: 40%;
}
.platfoms{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 120px;
    padding-right: 150px;
}
.hasop{
    padding-top: 50px;
}
.platfoms a{
    text-decoration: none;
    color:black ;
    margin-left:30px ;
    line-height: 25px;
}
.platfoms h3{
    text-align: right;
}
@media only screen and (max-width:600px){
    footer{
        display: none;
    }
}